@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

.fadeIn {
    animation: fadeIn 300ms ease 1;
}

.loader {
    --loader-background: #{rgba(white, 0.3)};
    --loader-color: white;
    --loader-size: 50px;

    position: fixed;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;
}