:root {
    font: {
        family: 'Poppins', sans-serif, arial;
        size: 16px;
    }
    background-color: $color-secundario;
    color: $text-color;
    line-height: 1.6;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    
    & > * {
        width: 100%;
    }
}

* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: inherit;
    }
}

hr {
    border: 0;
    border-bottom: 1px solid;
    margin: 20px auto;
}

a {
    text-decoration: none;
    transition: 300ms ease;
    outline: 1px solid transparent;

    &:active {
        transition: none;
    }
}

