.header,
.footer {
    min-height: 70px;
}

.main {
    flex-grow: 1;

    &__section {
        margin: 0 auto;
        max-width: $max-width;
        width: $width;

        &:first-of-type {
            padding-top: 40px;
        }

        &:last-of-type {
            margin-bottom: 40px;
        }
    }
}

.products {

    align-items: center;

    &,
    &__form {
        display: flex;
    }

    &__item {
        padding: 20px;

        &--views {
            flex-grow: 1;
            flex-shrink: 0;

            padding: 10px;

            background-color: rgba(white, 0.1);
        }

        &--price {
            padding: 20px;


            @media screen and (min-width: 751px) {
                max-width: 600px;
                flex-basis: 50%;
            }
        }
    }
}

.line-through {
    opacity: 0.6;
    text-decoration: line-through;
    font-size: 0.85em;
    padding-left: 10px;
}

.carousel {
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;

    --gap: 20px;
    --cantidad: 4;

    // Posición horizontal de la foto del carousel:
    
    --x: 0;
    --pos-x: calc(-100% * var(--x));

    &__inner {
        min-height: 200px;
        display: flex;
        height: 100%;

        // transform: translate(var(--pos-x));
        // transition: 300ms ease;

        &__item {
            width: 100%;
            flex-shrink: 0;
            display: flex;

            &__image {
                overflow: hidden;
                position: relative;
                width: 100%;

                padding-top: 80%;
                background-color: rgb(248, 246, 247);

                img {
                    display: block;
                    max-width: 100%;
                    max-height: 100%;

                    object-fit: cover;

                    position: absolute;
                    margin: auto;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    padding: 15px;
                    pointer-events: none;
                }
            }
        }
    }

    &__arrow {
        display: flex;
        justify-content: space-between;

        position:  absolute;
        margin: auto;
        left: 0; right: 0;
        top: 0; bottom: 0;

        &__left,
        &__right {
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 300ms ease;
            z-index: 0;
            cursor: pointer;

            --color: #{rgba($color-secundario, 0.3)};
            --icon-size: 50px;

            &:hover {
                --color: #{rgba($color-secundario, 0.5)};
            }

            &:active {
                transition: none;
                --color: #{rgba($color-secundario, 0.3)};
            }
        }

        &__left {

        }

        &__right {
            --rotate: 180deg;
        }
    }

    &-container {
        overflow: hidden;
        height: 100%;

        display: flex;
        align-items: stretch;

        flex-direction: column;

        &>* {
            width: 100%;
        }
    }

    &--indicators {
        justify-content: center;
        list-style: none;

        display: none;

        li {
            padding-left: 0;
            margin: 0;
        }
    }
}

.thumbnail {
    --gap: 15px;
    --translate: var(--posX);

    overflow: hidden;
    margin-top: var(--gap);

    &__inner {
        display: flex;
        width: 100%;
        transition: 300ms ease;
        transform: translate(var(--translate));

        &__item {
            display: flex;
            width: calc(100% / 3);

            overflow: hidden;

            flex-shrink: 0;

            &:first-child {
                width: calc(100% / 3 - var(--gap) + var(--gap) / 3);
            }

            &:not(:first-child) {
                padding-left: var(--gap);
                width: calc(100% / 3 + var(--gap) / 3);
            }

            &__images {
                position: relative;
                width: 100%;
                background-color: $color-secundario;
                padding-top: 80%;

                img {
                    width: 100%;
                    display: block;

                    position: absolute;
                    margin: auto;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.4;
                    object-fit: cover;
                    transition: 300ms ease;
                    pointer-events: none;

                    &.focused {
                        opacity: 1;
                    }

                }
            }
        }
    }
}