.header,
.footer {
    min-height: 70px;
}

.main {
    flex-grow: 1;
    &__section {
        margin: 0 auto;
        max-width: $max-width;
        width: $width;

        &:first-of-type {
            padding-top: 40px;
        }

        &:last-of-type {
            margin-bottom: 40px;
        }
    }
}

.products {

    align-items: center;

    &, &__form {
        display: flex;
    }

    &__item {
        padding: 20px;

        &--views {
            flex-grow: 1;
            flex-shrink: 0;

            padding: 10px;
            
            background-color: rgba(white, 0.1);
        }
        
        &--price {
            padding: 20px;

            
            @media screen and (min-width: 751px) {
                max-width: 600px;
                flex-basis: 50%;
            }
        }
    }
}

.line-through {
    opacity: 0.6;
    text-decoration: line-through;
    font-size: 0.85em;
    padding-left: 10px;
}